body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    background-color: rgb(44, 41, 38);
}

a {
    text-decoration: none;
}

#main-header {
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(29, 26, 24);
    padding: 0 20px;
}

#logo {
    font-family: "Rubik Moonrocks", sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: rgb(238, 164, 80);
    text-transform: uppercase;
}

#main-header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#main-header li {
    margin: 0 16px;
}

#main-header nav a {
    color: rgb(185, 131, 31);
    font-size: 20px;
    font-weight: bold;
}

#main-header nav a:hover {
    color: rgb(228, 163, 44);
}

main h1 {
    text-align: center;
    color: rgb(238, 164, 80);
    font-family: "Roboto", sans-serif;
    font-size: 48px;
}

#latest-products {
    width: 80%;
    margin: 50px auto;
}

#latest-products ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    margin: 0;
    padding: 0;
}

.food-item {
    background-color: rgb(228, 206, 182);
    border-radius: 6px;
    overflow: hidden;
}

.food-item img {
    height: 240px;
    width: 100%;
    object-fit: cover;
}

.food-item-content {
    padding: 16px;
    text-align: center;
}

.btn {
    background-color: rgb(228, 157, 44);
    color: white;
    border-radius: 4px;
    padding: 8px 24px;
}

.btn:hover {
    background-color: rgb(221, 134, 34);
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(120deg,rgb(24,24,24), rgb(37, 39, 39));
    padding: 20px 0;
}

footer p {
    font-family: "Roboto", sans-serif;
    color: white;
    text-align: center;
    font-weight: bold;
}
